<!DOCTYPE html>

<html ng-app="movieStore">
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>

<script>
    var app = angular.module("movieStore", []);
</script>

@RenderSection("scripts", required: false)
</html>
