<!DOCTYPE html>

<html ng-app="movieStore">
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
<script>
    var app = angular.module("movieStore", []);
</script>

<script>
    var app = angular.module("movieStore");
    app.controller("MovieController", function($scope, $http) {

        var onMovieComplete = function(response) {
            $scope.movie = response.data;
        };

        $http.get("/api/movie/@ViewBag.id")
            .then(onMovieComplete);

    });
</script>
</html>
