
@{
    ViewBag.Title = "MovieDetail";
    Layout = "~/Views/Shared/_ngLayout.cshtml";
}


<h2>MovieDetail</h2>
<div ng-controller="MovieController">
    <div>Id: {{movie.Id}}</div>
    <div>Name: {{movie.Name}}</div>
    <div>Rating: {{movie.Rating}}</div>
</div>

